<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.erp01.mapper.ColorMapper">


    <insert id="addColor">
        INSERT INTO color (colorName) VALUES (#{colorName})
    </insert>

    <delete id="deleteColorByID">
        DELETE FROM color WHERE colorID = #{colorID}
    </delete>

    <select id="getAllColor" resultType="map">
        SELECT * FROM color
    </select>

    <select id="getColorByID" resultType="com.example.erp01.model.Color">
        SELECT * FROM color WHERE colorID = #{colorID}
    </select>

    <select id="getColorByName" resultType="com.example.erp01.model.Color">
        SELECT * FROM color WHERE colorName = #{colorName}
    </select>
</mapper>