<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.erp01.mapper.ColorMapper">

    <insert id="addColor">
        INSERT INTO color(colorNumber,colorName) VALUES (#{colorNumber},#{colorName})
    </insert>

    <delete id="deleteColor">
        DELETE FROM color WHERE colorID = #{colorID}
    </delete>

    <select id="getAllColor" resultType="map">
        SELECT * FROM color
    </select>

</mapper>