<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.erp01.mapper.StorageMapper">

    <insert id="inStore" parameterType="java.util.List">
        INSERT INTO storage(storehouseLocation,tailorQcode) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.storehouseLocation},#{item.tailorQcode})
        </foreach>
    </insert>

    <delete id="outStore" parameterType="java.util.List">
        DELETE FROM storage WHERE tailorQcode IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getStorageState" resultType="map">
        SELECT storehouseLocation,COUNT(*) as storageState  FROM storage GROUP BY storehouseLocation order by storehouseLocation asc;
    </select>


</mapper>